@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
  overflow-x: clip;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: clip;
  position: relative;
  width: 100%;
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}